body, ul, li {
  margin: 0;
  font-family: Montserrat;
  text-align: center;
}

body {
  background-color: white;
}

nav {
  display: block;
  height: auto;
  float:  right;
  padding-bottom: 60px;
}
nav a {
  text-decoration: none;
  color: gray;
  font-size: 15px;
  font-weight: 400;
  padding: 0 25px;
}

nav ul li {
  display: inline;
  padding: 20px 0;
  float: left;
  text-transform: uppercase;
}

.first {
  background-color: #2497d5;
  height: 90px;
}
.top {
  display: inline-block;
  background-color: #2497d5;
  padding-left: 60px; 
}

.dropdown {
  display: inline-block;
  border: 1px white solid;
}
.middle {
  background-color: black;
  height: 44px;
}

.middle p {
  display: inline;
  float: left;
  color: #7d7d7d;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 12px;
}

span {
  color: #bebebe;
}

.social {
  color: #bebebe;
  display: inline;
  float: right;
  padding-top: 12px;
}

.social i {
  padding: 0 10px;
}

#carousel-example-generic {
  padding-top: 58px;
  width: 100%;
  margin: 0 auto;
  background-color: #E9E9E9;
}

#carousel-example-generic .left {
  background-image: none;
  border: 0;
}


#carousel-example-generic .right {
  background-image: none;
  border: 0;
}

.container-fluid {

  background-color: #E9E9E9;
}

.spacer {

  margin-top: 30px;
}

.popular {
  background-color: black;
  color: white;
  position: absolute;
  height: 400px;
  padding: 20px 0;
  width: 200px;
}

.popular p {
  color: gray;
}

#main-slider ul, li {
  display: inline-block;
  list-style: none;
  padding-right: 20px;

}

.trainers {
  background-color: #87bd65;
  color: gray;
  position: absolute;
  height: 200px;
  padding: 20px 0;
  width:  180px;
}

footer {
  background-color: black;
  width: 100%;
  padding-top: 50px;

}
.footer-1, .footer-3 {
  background-color: #87BD65;
  display: inline-block;
  padding-bottom: 20px;
}

.footer-2 {
  background-color: #91CE6B;
  display: inline-block;
  padding-bottom: 20px;
}

aside {
  padding-top: 20px; 
  display: inline;
}

.fa-phone, .fa-thumbs-o-up {
  color: white;
  font-size: 2x;
  background-color: #87BD65;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding-bottom: 10px;
}

.fa-calendar {
  color: white;
  font-size: 2x;
  background-color: ##91CE6B;
  border-radius: 50%;
  width: 60px;
  height: 60px; 
  padding-bottom: 10px;
}

.fa-phone, .fa-calendar, .fa-thumbs-o-up {
  display: inline-block;
  line-height: 50px;
  position: absolute;
}