body, ul, li {
  margin: 0;
  font-family: Montserrat;
  text-align: center;
}

body {
  background-color: white;
}

nav {
  display: block;
  height: auto;
  margin-top: auto;
  padding-bottom: 60px;
}
nav a {
  text-decoration: none;
  color: gray;
  font-size: 15px;
  font-weight: 400;
  padding: 0 25px;
}

nav ul li {
  display: inline;
  float: right;
  padding: 20px 0;
  text-transform: uppercase;
}

.first {
  background-color: #2497d5;
  height: 90px;
}
.top {
  display: inline-block;
  background-color: #2497d5;
  padding-left: 60px; 
}

.dropdown {
  display: inline-block;
  border: 1px white solid;
}
.middle {
  background-color: black;
  height: 44px;
}

.middle p {
  display: inline;
  float: left;
  color: #7d7d7d;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 12px;
}

span {
  color: #bebebe;
}

.social {
  color: #bebebe;
  display: inline;
  float: right;
  padding-top: 12px;
}

.social i {
  padding: 0 10px;
}

#carousel-example-generic {
  padding-top: 58px;
  width: 100%;
  margin: 0 auto;
  background-color: #E9E9E9;
}

#carousel-example-generic .left {
  background-image: none;
  border: 0;
}


#carousel-example-generic .right {
  background-image: none;
  border: 0;
}

.container-fluid {

  background-color: #E9E9E9;
}

.spacer {

  margin-top: 30px;
}

.popular {
  background-color: black;
  color: white;
}

.popular p {
  color: gray;
}

.flex-direction-nav {
  display: block;
  opacity 1;
  margin-bottom: 20px;
  background-color: #E9E9E9;
}

.flex-direction-nav ul li {
  list-style: none;
}